@model IEnumerable<MalalimAdmin.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Closed Products</h2>

<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    @if (Model.FirstOrDefault() == null)
                    {
                        <h2>No Products Found</h2>
                    }
                    else
                    {
                        <table class="DTClass table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsFeatured)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpiryDate)
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        $ @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    @if (item.IsFeatured == true)
                                    {
                                        <td>
                                            ✔
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                                    </td>
                                </tr>
                            }

                        </table>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
    