@model MalalimAdmin.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="margin-bottom:30px">
            @Html.LabelFor(model => model.Image1, "Image #1 (810 × 387)", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="grid">
                    <div class="col-md-10 nopadding">
                        <div id="ev-img1-img-overlay-text" class="upload-container-overlay orig-overlay">
                            <span>Select a file to start cropping</span>
                        </div>
                        <div id="ev-img1-img-container" class="upload-container">
                            <img id="ev-img1" src="" />
                        </div>
                        <div id="ev-img1-img-overlay" class="upload-container-overlay">
                            <img id="ev-img1-loading" src="~/Content/img/loading-large.gif" />
                        </div>
                        <div id="ev-img1-img-overlay-bar" class="upload-container-overlay">
                            <div id="ev-img1-pbar" class="t-adm-p-bar">
                                <span>Uploading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:center">
                        <div class="row">
                            <a class="btn file-btn upload-btn1">
                                <span>Select File</span>
                                <input type="file" id="ev-img1-upload" value="Choose a file" accept="image/*" />
                            </a>
                        </div>
                        <div class="row">
                            <a id="ev-img1-crop" class="btn file-btn crop-btn1">
                                <span>Crop &amp; Upload</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Image">Saved Image</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image1, new { htmlAttributes = new { id = "ev-img1-name", @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Image1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom:30px">
            @Html.LabelFor(model => model.Image2, "Image #2 (400 × 400)", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="grid">
                    <div class="col-md-10 nopadding">
                        <div id="ev-img2-img-overlay-text" class="upload-container-overlay orig-overlay">
                            <span>Select a file to start cropping</span>
                        </div>
                        <div id="ev-img2-img-container" class="upload-container">
                            <img id="ev-img2" src="" />
                        </div>
                        <div id="ev-img2-img-overlay" class="upload-container-overlay">
                            <img id="ev-img2-loading" src="~/Content/img/loading-large.gif" />
                        </div>
                        <div id="ev-img2-img-overlay-bar" class="upload-container-overlay">
                            <div id="ev-img2-pbar" class="t-adm-p-bar">
                                <span>Uploading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:center">
                        <div class="row">
                            <a class="btn file-btn upload-btn2">
                                <span>Select File</span>
                                <input type="file" id="ev-img2-upload" value="Choose a file" accept="image/*" />
                            </a>
                        </div>
                        <div class="row">
                            <a id="ev-img2-crop" class="btn file-btn crop-btn2">
                                <span>Crop &amp; Upload</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Image2">Saved Image</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image2, new { htmlAttributes = new { id = "ev-img2-name", @class = "form-control required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Image2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom:30px">
            @Html.LabelFor(model => model.Image3, "Image #3 (100 × 100)", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="grid">
                    <div class="col-md-10 nopadding">
                        <div id="ev-img3-img-overlay-text" class="upload-container-overlay orig-overlay">
                            <span>Select a file to start cropping</span>
                        </div>
                        <div id="ev-img3-img-container" class="upload-container">
                            <img id="ev-img3" src="" />
                        </div>
                        <div id="ev-img3-img-overlay" class="upload-container-overlay">
                            <img id="ev-img3-loading" src="~/Content/img/loading-large.gif" />
                        </div>
                        <div id="ev-img3-img-overlay-bar" class="upload-container-overlay">
                            <div id="ev-img3-pbar" class="t-adm-p-bar">
                                <span>Uploading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:center">
                        <div class="row">
                            <a class="btn file-btn upload-btn3">
                                <span>Select File</span>
                                <input type="file" id="ev-img3-upload" value="Choose a file" accept="image/*" />
                            </a>
                        </div>
                        <div class="row">
                            <a id="ev-img3-crop" class="btn file-btn crop-btn3">
                                <span>Crop &amp; Upload</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Image3">Saved Image</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image3, new { htmlAttributes = new { id = "ev-img3-name", @class = "form-control required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Image3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom:30px">
            @Html.LabelFor(model => model.Image4, "Image #4 (250 × 130)", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="grid">
                    <div class="col-md-10 nopadding">
                        <div id="ev-img4-img-overlay-text" class="upload-container-overlay orig-overlay">
                            <span>Select a file to start cropping</span>
                        </div>
                        <div id="ev-img4-img-container" class="upload-container">
                            <img id="ev-img4" src="" />
                        </div>
                        <div id="ev-img4-img-overlay" class="upload-container-overlay">
                            <img id="ev-img4-loading" src="~/Content/img/loading-large.gif" />
                        </div>
                        <div id="ev-img4-img-overlay-bar" class="upload-container-overlay">
                            <div id="ev-img4-pbar" class="t-adm-p-bar">
                                <span>Uploading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:center">
                        <div class="row">
                            <a class="btn file-btn upload-btn4">
                                <span>Select File</span>
                                <input type="file" id="ev-img4-upload" value="Choose a file" accept="image/*" />
                            </a>
                        </div>
                        <div class="row">
                            <a id="ev-img4-crop" class="btn file-btn crop-btn4">
                                <span>Crop &amp; Upload</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Image2">Saved Image</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image4, new { htmlAttributes = new { id = "ev-img4-name", @class = "form-control required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Image4, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Image1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image4, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.IsFeatured, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsFeatured)
                    @Html.ValidationMessageFor(model => model.IsFeatured, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsVisible)
                    @Html.ValidationMessageFor(model => model.IsVisible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalCoupons, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalCoupons, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalCoupons, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxCouponsPerOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxCouponsPerOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxCouponsPerOrder, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}